.app-header {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinha tudo à direita */
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaço entre o nome e o botão */
}

.user-info button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.user-info button:hover {
    background-color: #cc0000;
}